<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Letter10Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% stylesheet_link_tag 'application', 'https://fonts.google.com/specimen/Montserrat' %>

</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid" id="header">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag("letter10_logo.png")%></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:action] == 'index' %>"><a href="/">Home<span class="sr-only">(current)</span></a></li>
            <li class="<%= 'active' if params[:action] == 'about' %>"><a href="/about">About</a></li>
            <li class="<%= 'active' if params[:action] == 'reel' %>"><a href="/reel">Reel</a></li>
            <li class="<%= 'active' if params[:action] == 'contact' %>"><a href="/contact">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>

    <footer>
      <section id="logos">
        <div class="row" id="logos">
          <div class="col-xs-1 col-md-1 nopadding">
            <div class="thumbnail" id="history">
              <%= image_tag("history_channel-logo.jpg", alt: "History Channel") %>
            </div>
          </div>
          <div class="col-xs-1 col-md-1 nopadding">
            <div class="thumbnail" id="diy">
              <%= image_tag("DIY.jpg", alt: "DIY Network") %>
            </div>
          </div>
          <div class="col-xs-1 col-md-1 nopadding">
            <div class="thumbnail" id="science">
              <%= image_tag("ScienceChannel.jpg", alt: "Science Channel") %>
            </div>
          </div>
          <div class="col-xs-2 col-md-2 nopadding">
            <div class="thumbnail" id="oxygen">
              <%= image_tag("oxygen.jpg", alt: "Oxygen Network") %>
            </div>
          </div>
          <div class="col-xs-2 col-md-2 nopadding">
            <div class="thumbnail" id="smithsonian">
              <%= image_tag("smithsonian-channel-logo.jpg", alt: "Smithsonian Channel") %>
            </div>
          </div>
          <div class="col-xs-2 col-md-2 nopadding">
            <div class="thumbnail" id="travel">
              <%= image_tag("Travellogo.png", alt: "Travel Channel") %>
            </div>
          </div>
          <div class="col-xs-1 col-md-1 nopadding">
            <div class="thumbnail" id="hdtv">
              <%= image_tag("hgtv.jpg", alt: "HGTV") %>
            </div>
          </div>
          <div class="col-xs-1 col-md-1 nopadding">
            <div class="thumbnail" id="lifetime">
              <%= image_tag("Lifetime.jpg", alt: "Lifetime Channel") %>
            </div>
          </div>
        </div>
      </section>
      <section id="credit">
        <div class="row">
          <div class="col-xs-4 col-md-4">
            <div>
              <a class="footer-logo" href="/"><%= image_tag("letter10_logo.png")%></a>
            </div>
          </div>
          <div class="col-xs-4 col-md-4">
            <div>
              <h6><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Letter 10 Productions, LLC. <br>All rights reserved.</h6>
              <h6><a href="http://www.michaelconiaris.com/" id="coniaris">Website Design by Michael Coniaris</a></h6>
            </div>
          </div>
          <div class="col-xs-4 col-md-4">
            <div class="social">
              <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/letter10productions/?fref=ts" target="_blank">
                <span class="fa fa-facebook fa-3x"></span>
              </a>
              <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/Letter10Prod" target="_blank">
                <span class="fa fa-twitter fa-3x"></span>
              </a>
              <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/letter10productions/" target="_blank">
                <span class="fa fa-instagram fa-3x"></span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </footer>
</body>
</html>
